body {
  margin: 0;
  font-family: 'Secular One', "Suez One", 'heebo','Helvetica';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Secular One', "Suez One", 'heebo','Helvetica';
}

* {
  font-family: 'Secular One', "Suez One", 'heebo','Helvetica';
  font-weight: bold;
}